<ion-modal [isOpen]="abrirModal" [backdropDismiss]="false">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>{{ 'ajustes' | translate | uppercase }}</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="setModalOpen(false)">{{ 'cerrar' | translate }}</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list class="ion-no-padding ion-no-margin">
        <ion-item>
          <ion-toggle [checked]="esModoOscuro" (ionChange)="alternarModo($event)" [disabled]="toggleDisabled()" #toggleModo>{{ 'modo_oscuro' | translate }}</ion-toggle>
          <ion-button (click)="cambiarAuto()" [fill]="fillBotonAuto()" #botonAuto>Auto</ion-button>
        </ion-item>
        <ion-item [button]="true" (click)="borrarCache()">{{ 'borrar_cache' | translate }}</ion-item>
        <ion-item>
          <ion-select label="{{ 'idioma' | translate }}" (ionChange)="cambiarIdioma($event)" value="{{idiomaActual}}" okText="{{ 'elegir' | translate }}" cancelText="{{ 'cancelar' | translate }}">
            <ion-select-option *ngFor="let idioma of idiomas" value="{{idioma.codigo}}">{{ idioma.nombre }}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>
<ion-alert
  [isOpen]="isAlertOpen"
  [buttons]="alertButtons"
  (didDismiss)="setAlertOpen(false)"
  #alerta
></ion-alert>