<ion-grid class="ion-no-padding ion-no-margin">
  <ion-row class="ion-no-padding ion-no-margin barra">
    <ion-col size-xs="8" size-sm="10">
      <ion-searchbar #barraBusqueda placeholder="Buscar anime" (ionInput)="buscar($event)"></ion-searchbar>
    </ion-col>
    <ion-col size="2">
      <ion-button fill="clear" shape="circle" (click)="mostrarFiltro()">
        <ion-icon slot="icon-only" src="assets/icon/filter_alt.svg"></ion-icon>
      </ion-button>
      </ion-col>
      <ion-col size-xs="2" size-sm="0" class="ion-hide-sm-up">
      <ion-button fill="clear" shape="circle" (click)="mostrarAjustes()">
        <ion-icon slot="icon-only" src="assets/icon/settings.svg"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="busqueda" class="ion-no-padding ion-no-margin">
    <ion-col size="12">
      <div class="contenedorscroll">
        <ion-content class="contenidoscroll" style="height: 100%;">
          <ion-list class="ion-no-padding ion-no-margin">
            <ion-item *ngFor="let item of items; let index" [button]="true" (click)="seleccionarAnime(item)">
              <ion-avatar slot="start">
                <img [src]="item.image" alt="avatar"/>
              </ion-avatar>
              <ion-label>{{ item.title }}</ion-label>
            </ion-item>
          </ion-list>
          <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
            <ion-infinite-scroll-content></ion-infinite-scroll-content>
          </ion-infinite-scroll>
        </ion-content>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>