<ion-searchbar placeholder="Buscar anime" (ionInput)="buscar($event)"></ion-searchbar>
<div class="contenedorscroll">
  <ion-content class="contenidoscroll" style="height: 100%;">
    <ion-list>
      <ion-item *ngFor="let item of items; let index" [button]="true">
        <ion-avatar slot="start">
          <img [src]="item.image" alt="avatar" />
        </ion-avatar>
        <ion-label>{{ item.title }}</ion-label>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>
</div>