#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.barraSuperior {
  height: 75px;
}
.contentScroll {
  width: 100%;
  height: calc(100vh - 75px - 15px);
}

.contentScroll > ion-item {
  height: 50px;
}

.contentScroll > ion-content {
  height: calc(100% - 50px);
}

.flexTextoCentradoVerticalmente {
  display: flex;
  align-items: center;
}

ion-list:last-child {
  margin-bottom: 100px;
}

#botonVisibilidad {
  position: relative;
}

.filtroVisibilidad {
  top: 100%;
  right: 0;
  position: absolute;
}

.overflowVisible {
  position: relative;
  overflow: visible;
}

.contenedorFiltroVisualizacion {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.itemFiltroVisualizacion {
  width: 50%;
  display: flex;
  align-items: center;
}