<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-grid class="ion-no-margin">
  <ion-row class="barraSuperior">
    <ion-col size-xs="12" size-sm="10">
      <app-buscador (alSeleccionar)="ver($event)" (alAbrirFiltro)="mostrarFiltro()"></app-buscador>
      <div [ngClass]="{'fondoOpciones': filtroVisible}"></div>
      <ion-card *ngIf="filtroVisible" class="cardOpciones ion-no-margin" #tarjetaOpciones>
        <ion-card-header>
          <ion-card-title>Filtro</ion-card-title>
          <ion-card-subtitle>OMITIR:</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col size="6" offset="1">
                <ion-checkbox labelPlacement="end" [(ngModel)]="summary" #checkResumenes>Resúmenes</ion-checkbox>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6" offset="1">
                <ion-checkbox labelPlacement="end" [(ngModel)]="other" #checkOtros>Otros</ion-checkbox>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="6" offset="1">
                <ion-checkbox labelPlacement="end" [(ngModel)]="character" #checkCharacter>Character</ion-checkbox>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="barraProgreso">
    <ion-col size="12">
      <ion-progress-bar type="indeterminate"></ion-progress-bar>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="animes != null && animes.length > 0">
    <ion-col size-xs="12" size-sm="8" offset-sm="2">
      <ion-content [scrollEvents]="true" class="contentScroll">
        <ion-list class="ion-no-padding">
          <app-anime *ngFor="let anime of animes; let i = index" [indice]="i + 1" [anime]="anime" (alClicar)="abrirNavegador($event)" ></app-anime>
        </ion-list>
      </ion-content>
    </ion-col>
  </ion-row>
</ion-grid>
<ion-toast
[isOpen]="isToastOpen"
[duration]="5000"
(didDismiss)="setOpen(false)"
#toastAviso
></ion-toast>
<ion-alert
  [isOpen]="isAlertOpen"
  header="Abrir enlace"
  message="Se va a abrir un enlace externo; ¿desea continuar?"
  [buttons]="alertButtons"
  (didDismiss)="setAlertOpen(false)"
></ion-alert>